### **Introduction to `for` Loops**

In programming, a `for` loop provides a clean and concise way to iterate over a sequence of items. It's one of the most commonly used loops due to its simplicity and versatility in handling structured data types.

---

### **Iterating Over Ranges**

The `range()` function generates a sequence of numbers, which can be used in a `for` loop to repeat an action a specific number of times.

**Basic Syntax:**
```python
for variable in range(start, stop, step):
    # body of the loop
```

- `start`: The beginning value (optional, default is 0).
- `stop`: The end value (exclusive).
- `step`: The increment/decrement value (optional, default is 1).

**Example 1:** Counting from 0 to 4
```python
for i in range(5):
    print(i)
```

**Example 2:** Counting from 2 to 8 in steps of 2
```python
for i in range(2, 9, 2):
    print(i)
```

---

### **Iterating Over Lists**

A `for` loop can directly iterate over items in a list without needing to reference indices.

**Basic Syntax:**
```python
for item in list_name:
    # body of the loop
```

**Example:** Printing all items in a list
```python
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

**Note:** The `for` loop can also iterate over other iterable data types like tuples, sets, strings, and dictionaries.

---

In [ ]:
#You can play around with the examples in this cell
for i in range(2, 9, 2):
    print(i)

2
4
6
8


### **Practice Exercises:**

1. **Number Doubler:** For numbers 1 through 10, print each number doubled.

In [ ]:
#Ex1
for i in range(1,11):
  print(i*2)

2
4
6
8
10
12
14
16
18
20

2. **Vowel Finder:** Given a word, iterate over it and print only the vowels.

In [ ]:
#Ex2
word=input("word: ")
vowel="aeiouAEIOU"
for i in word:
  if i in vowel:
    print(i)

word: olaputide
o
a
u
i
e

3. **List Reverser:** Without using built-in functions, reverse the items in a list.

In [ ]:
#Ex3
items=["apple","banana","cherry"]
item=[]
for i in items:
  item=[i]+item
print(item)

['cherry', 'banana', 'apple']

4. **Odd Number Counter:** Given a list of numbers, count how many odd numbers there are.

In [ ]:
#Ex4
odd=0
n=[1,2,3,4,5,6,7,8,9]
for i in n:
  if i%2!=0:
    odd=odd+1
print(odd)

5

5. **Grade Assigner:** For a list of scores, assign and print grades (e.g., A, B, C).

In [ ]:
#Ex5
grade=[10,20,30,40,50,60,70,80,90,100]
for i in grade:
  if i<60:
    print("F")
  if i>=60 and i<70:
    print("D")
  if i>=70 and i<80:
    print("C")
  if i>=80 and i<90:
    print("B")
  if i>=90:
    print("A")

F
F
F
F
F
D
C
B
A
A

6. **Word Lengths:** For a list of words, print each word alongside its length.

In [ ]:
#Ex6
words=["haha","hahaha","hahahaha"]
for word in words:
  print(word,len(word))

haha 4
hahaha 6
hahahaha 8

7. **Positive Number Finder:** Given a list of numbers, print only the positive ones.

In [ ]:
#Ex7
n=[-1,3,80,-3]
for i in n:
  if i>0:
    print(i)

3
80

8. **Temperature Converter:** Convert a list of temperatures from Celsius to Fahrenheit and print them.

In [ ]:
#Ex8
t=[1,2,3,5,7,9]
for i in t:
  print(i*1.8+32)

33.8
35.6
37.4
41.0
44.6
48.2

9. **Name Initials:** For a list of full names, print the initials of each name.

In [10]:
#Ex9
names=["apple black","banana blue","allen dum","cherry fly"]
for i in names:
  for j in range(len(i)):
    if i[j] == " ":
      a = j+1
  print(i[0].upper()+i[a].upper())

AB
BB
AD
CF

10. **Range Sum:** Calculate the sum of numbers from 1 to 100 using a `for` loop.

In [2]:
#Ex10
a=0
for i in range(1,101,1):
  a=a+i
print(a)

5050